<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Manage Units</h2>
            <p>Add, edit, and delete the units of measure used on your ingredients</p>
        </div>
    </div>
    <units-edit></units-edit>
    <hr>
    <h3>Your units</h3>
    <p>Select a unit to edit or delete it</p>
    <ul class="list-group">
        <a 
            class="list-group-item" 
            style="cursor: pointer;"
            *ngFor="let unit of units"
            (click)="onEditUnit(unit)">
            {{ unit }}
        </a>
    </ul>
</div>