<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Add/Edit Ingredient</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 form-group">
                    <label for="name">Name<span class="required">&nbsp;*</span></label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        name="name"
                        ngModel
                        required>
                </div>
                <div class="col-xs-4 form-group" *ngIf="isShoppingList">
                    <label for="name">Amount</label>
                    <input 
                        type="text" 
                        id="amount" 
                        class="form-control"
                        name="amount"
                        ngModel>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 form-group">
                    <label for="units">Units</label>
                    <select
                        type="text"
                        id="units"
                        class="form-control"
                        name="units"
                        ngModel>
                        <option *ngFor="let unit of units" [value]="unit">
                            {{unit}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="groceryStore">Store</label>
                    <select
                        type="text"
                        id="groceryStore"
                        class="form-control"
                        name="groceryStore"
                        ngModel>
                        <option *ngFor="let groceryStore of groceryStores" [value]="groceryStore">
                            {{groceryStore}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="aisle">Aisle<span class="required">&nbsp;*</span></label>
                    <select
                        type="text"
                        id="aisle"
                        class="form-control"
                        name="aisle"
                        ngModel
                        required>
                        <option *ngFor="let aisle of aisles" [value]="aisle">
                            {{aisle}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        class="btn btn-success" 
                        type="submit" 
                        [disabled]="!f.valid">
                        {{ editMode ? 'Update' : 'Add'}}
                    </button>
                    <button 
                        *ngIf="editMode"
                        class="btn btn-danger" 
                        type="button" 
                        (click)="onDelete()">
                        Delete
                    </button>
                    <button 
                        class="btn btn-primary" 
                        type="button" 
                        (click)="onClear()">
                        Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>