<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        name="name"
                        ngModel
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 form-group">
                    <label for="units">Units</label>
                    <input 
                        type="text" 
                        id="units"
                        class="form-control"
                        name="units"
                        ngModel>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="groceryStore">Store</label>
                    <input 
                        type="text" 
                        id="groceryStore"
                        class="form-control"
                        name="groceryStore"
                        ngModel>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="aisle">Aisle</label>
                    <input 
                        type="text" 
                        id="aisle"
                        class="form-control"
                        name="aisle"
                        ngModel
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add'}}</button>
                    <button 
                    *ngIf="editMode"
                    class="btn btn-danger" 
                    type="button" 
                    (click)="onDelete()">
                    Delete
                    </button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>