<div class="h-full">
    <div class="w-full flex justify-center py-10">
        <div class="w-full flex flex-col md:mx-10 ml-1 mr-1">
            <ingredient-edit></ingredient-edit>
            <h2 class="mb-3 text-lg font-semibold whitespace-nowrap">Ingredients</h2>
            <ul class="w-full mb-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <li
                    class="py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600 cursor-pointer"
                    *ngFor="let ingredient of (ingredients | async).ingredients; let i = index"
                    (click)="onEditItem(i)">
                        <h4 class="list-group-item-heading">{{ ingredient.name }}</h4>
                        <p *ngIf="ingredient.units" class="list-group-item-text"><label>Units: </label> &nbsp;{{ ingredient.units }}</p>
                        <p *ngIf="ingredient.groceryStore" class="list-group-item-text"><label>Store: </label> &nbsp;{{ ingredient.groceryStore }}</p>
                        <p *ngIf="ingredient.aisle" class="list-group-item-text"><label>Aisle: </label> &nbsp;{{ ingredient.aisle }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>