<div class="row">
    <div class="col-xs-10">
        <ingredient-edit [isShoppingList]="true"></ingredient-edit>
        <hr>
        <div *ngFor="let group of ingredientsByGroceryStore">
            <h4>{{group.groceryStore}}</h4>
            <ul class="list-group">
                <a 
                    class="list-group-item" 
                    style="cursor: pointer;"
                    *ngFor="let ingredient of group.ingredients"
                    (click)="onEditItem(ingredient)">
                    {{ ingredient.name }} {{ ingredient.amount }}
                </a>
            </ul>
        </div>
    </div>
</div>