<div class="h-full">
    <div class="w-full flex justify-center py-10">
        <div class="w-full flex flex-col md:mx-10 ml-1 mr-1">
            <h2 class="text-lg font-semibold whitespace-nowrap">Shopping list</h2>
            <p>Add, edit, and delete the items on your shopping list</p>
            <shopping-edit></shopping-edit>
            <div class="flex justify-between">
                <div>
                    <h3 class="text-md font-semibold whitespace-nowrap">Your shopping list</h3>
                    <p class="mb-4">Select an ingredient to edit or delete it</p>
                </div>
                <button 
                    class="mb-5 w-30 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                    type="button" 
                    (click)="onClear()">
                    Clear List
                </button>
            </div>
            <div *ngFor="let group of ingredientsByGroceryStore">
                <h2 class="mb-3 text-md font-semibold whitespace-nowrap">{{group.groceryStore}}</h2>
                <ul class="w-full mb-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                    <li 
                        class="py-2 px-4 w-full border-b border-gray-200 dark:border-gray-600 cursor-pointer"
                        *ngFor="let ingredient of group.ingredients"
                        (click)="onEditItem(ingredient)">
                        {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.units }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>