<div class="h-full">
    <div class="w-full flex justify-center py-10">
        <div class="w-full flex flex-col md:ml-10 ml-1 mr-1">
            <div class="flex justify-between mb-4">
                <div>
                    <h2 class="text-lg font-semibold whitespace-nowrap">My Recipes</h2>
                    <p>Select a recipe to view it</p>
                </div>
                <button 
                    class="w-30 h-10 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                    (click)="onNewRecipe()"
                    >New Recipe
                </button>
            </div>
            <ul class="w-full md:w-3/4 mb-5 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                <recipe-item 
                    *ngFor="let recipeEl of recipes; let i = index"
                    [recipe]="recipeEl"
                    [index]="i">
                </recipe-item>
            </ul>
        </div>
    </div>
</div>