
<form 
    (ngSubmit)="onSubmit(f)" 
    #f="ngForm"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-4">
    <h2 
        class="mb-5 text-md font-semibold whitespace-nowrap">
        Add/Edit Ingredient
    </h2>
    <div class="flex flex-wrap -mx-3 mb-3">
        <div class="w-1/2 px-3">
            <label 
                for="name"
                class="block text-gray-700 text-sm font-bold mb-2">
                Name<span class="required">&nbsp;*</span>
            </label>
            <select
                type="text"
                id="name"
                class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                name="name"
                ngModel
                (change)="mySelectHandler($event)"
                required>
                <option *ngFor="let ingredient of ingredients" [value]="ingredient.name">
                    {{ingredient.name}}
                </option>
            </select>
        </div>
        <div class="w-1/4">
            <label 
                for="amount"
                class="block text-gray-700 text-sm font-bold mb-2">
                Amount<span class="required">&nbsp;*</span>
            </label>
            <input 
                type="number" 
                id="amount"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                name="amount"
                ngModel
                required
                pattern="^[1-9]+[0-9]*$">
        </div>
        <div class="relative px-3">
            <span class="absolute bottom-0" *ngIf="editedItem && !newItem">{{editedItem.units}}</span>
            <span class="absolute bottom-0" *ngIf="newItem">{{newItem.units}}</span>
        </div>
        
    </div>
        <input
                type="hidden"
                class="form-control"
                name="units"
                ngModel>
        <input
                type="hidden"
                class="form-control"
                name="aisle"
                ngModel>
        <input
                type="hidden"
                class="form-control"
                name="units"
                ngModel>
        <input
                type="hidden"
                class="form-control"
                name="groceryStore"
                ngModel>
    <div>
        <button 
            class="mb-5 w-30 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" 
            type="submit" 
            [disabled]="!f.valid">
            {{ editMode ? 'Update' : 'Add'}}
        </button>
        <button 
            *ngIf="editMode"
            class="mb-5 w-30 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" 
            type="button" 
            (click)="onDelete()">
            Delete
        </button>
        <button 
            class="mb-5 w-30 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
            type="button" 
            (click)="onClear()">
            Clear
        </button>
    </div>
</form>