<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Add/Edit Ingredient</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 form-group">
                    <label for="name">Name<span class="required">&nbsp;*</span></label>
                    <select
                        type="text"
                        id="name"
                        class="form-control"
                        name="name"
                        ngModel
                        (change)="mySelectHandler($event)"
                        required>
                        <option *ngFor="let ingredient of ingredients" [value]="ingredient.name">
                            {{ingredient.name}}
                        </option>
                    </select>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="amount">Amount<span class="required">&nbsp;*</span></label>
                    <input 
                        type="number" 
                        id="amount"
                        class="form-control"
                        name="amount"
                        ngModel
                        required
                        pattern="^[1-9]+[0-9]*$">
                </div>
                <input
                        type="hidden"
                        class="form-control"
                        name="aisle"
                        ngModel>
                <input
                        type="hidden"
                        class="form-control"
                        name="units"
                        ngModel>
                <input
                        type="hidden"
                        class="form-control"
                        name="groceryStore"
                        ngModel>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        class="btn btn-success" 
                        type="submit" 
                        [disabled]="!f.valid">
                        {{ editMode ? 'Update' : 'Add'}}
                    </button>
                    <button 
                        *ngIf="editMode"
                        class="btn btn-danger" 
                        type="button" 
                        (click)="onDelete()">
                        Delete
                    </button>
                    <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>